python-dotenv 
transformers 
sentence-transformers 
accelerate 
torch 
pandas 
numpy 
tqdm 
scikit-learn 
deep-translator 
sacremoses 
sacrebleu 
bert-score 
nltk 
protobuf 
requests
huggingface_hub
sentencepiece
argparse